@mixin dFlex($height){
    height: $height;
    display: flex;
    align-items: center;
}
*{
    text-decoration: none; 
    list-style: none;
}
$borderradius : 7px 0 0 7px;
.container-fluid{
    background-color: #FDD300;
    position: fixed;
    left: 0;
    top: 0;
    width: 17rem;
    height: 100vh;
    padding: 0;
    .sidenav{
        position: relative;
        width: 17rem;
        height: 100vh;
        background-color: #107EC2;
        justify-content: center;
        // position: relative;
        .logo-container{
            height: 6rem;
            width: auto;
            margin-bottom: 3rem;
            img{
                height: 100%;
                width: auto;
            }
        }
    }
}
.sidenav-nav-link{
    transition: all .3s ease;
    @include dFlex(2.7rem);
    padding-left: 1.8rem;
    font-size: small;
    border-radius: $borderradius;
    background-color:#107EC2 ;
    color:white;
    margin-bottom: 4px;
}
.sidenav-nav-link:hover{
    background-color :rgb(255, 255, 255,.9);
    color: #107EC2;
}

.sidenav-nav-link svg{
    height: 1rem;
    width: auto;
    margin-right: 1.15rem;
}
.active rect,.active path{
    fill: #107EC2;
}
.exit-button{
    bottom: 6.5rem;
    width: 100%;
    position: absolute;
    // background-color: aliceblue;
    .exit{
        
    // background-color: #FDD300;
    // color: white;
    width: 75%;
    // padding: 15px 15px;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.269);
    }
        .exit img{
            height: 1rem;
            margin-right: 1.3rem;
        }
}

.active{
    background-color :white;
    color: #107EC2;
}

.headerx{
    z-index: 3;
}
.btn{
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: calc(1rem/1.5);
    margin-bottom: calc(1rem/1.7);
}