<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="bodys">
        
    <div class="d-flex align-items-end">
        <h2 class="text-primary">Ajouter un medicament</h2>
        <hr class="flex-grow-1 text-primary">
    </div>
    <div>
        <form action="" (ngSubmit)="creerMedicamentForm()" [formGroup]="creerMedicament">
            <div class="form-container">
                <div class="d-flex align-items-end mb-2 ">
                    <h5 class="text-primary">Identification</h5>
                    <hr class="flex-grow-1 text-primary">
                </div>
                <div class="cont">
                    <div class="gauche">
                        <div class="row mb-3">
                            <div class="form-group col">
                                <label>Nom</label>
                                <input type="text" class="form-control" formControlName="nomMedicament">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label>Date de peremption</label>
                                <div class="input-group">
                                    <div class="input-group">
                                        <p-calendar formControlName="dateExpiration" [showIcon]="true"
                                            placeholder="yy-mm-dd" [minDate]="minDate" dateFormat="dd/mm/yy"></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Forme pharmaceutique</label>
                                <select class="form-control placeH" formControlName="formePharmaceutique">
                                    <option disabled selected>Sélectionnez</option>
                                    <option value="Comprime">Comprime</option>
                                    <option value="Sirop">Sirop</option>
                                    <option value="Capsule">Capsule</option>
                                    <option value="Creme">Creme</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-end mb-2">
                            <h5 class="text-primary">Posologie et prix</h5>
                            <hr class="flex-grow-1 text-primary">
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-4">
                                <label class="">Dosage (mg)</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/dosage.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="tel" class="form-control fc text-center" formControlName="dosage">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Quantite</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/quantite.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="number" class="form-control fc text-center" formControlName="quantiteDisponible">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="">Prix unitaire</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/prix.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="tel" class="form-control fc text-center"
                                        formControlName="prixUnitaire">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="droite">
                        <div class="row mb-3">
                            <div class="form-group col">
                                <label>Nom generique</label>
                                <input type="text" class="form-control " formControlName="nomGeneriqueMedicament">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <button routerLink="../" class="btn btn-danger bgauche">
                <img src="./assets/img/annuler.svg" alt="">
                <a>Annuler</a>
            </button>
            <button class="btn btn-success bdroite" type="submit">
                <img src="./assets/img/save.svg" alt="">
                Enregistrer
            </button>
        </form>
    </div>

    </div>
</body>

</html>