<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="d-flex align-items-end">
        <h2 class="text-primary">Ajouter un patient</h2>
        <hr class="flex-grow-1 text-primary">
    </div>
    <div>
        <form action="" (ngSubmit)="etudiantform()">
            <div class="form-container">
                <div class="gauche">
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Informations personnelles*</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Nom</label>
                            <input type="text"[(ngModel)]="etudiant.nom" class="form-control "id="nom" name="nom">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>Prenom</label>
                            <input type="text"[(ngModel)]="etudiant.prenom" class="form-control" id="prenom" name="prenom">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Date de naissance*</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dateNaissance"
                                    ngbDatepicker #d="ngbDatepicker"[(ngModel)]="etudiant.dateDeNaissance" id="dateDeNaissance" name="dateDeNaissance">
                                <button class="btn btn-calendar" (click)="d.toggle()" type="button">
                                    <img src="../../../assets/img/calendrier.svg" alt="">
                                </button>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Sexe</label>
                            <div class="row m-0">
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" [(ngModel)]="etudiant.sexe" value="Feminin"id="sexe" name="sexe">
                                    <label class="form-check-label">Feminin</label>
                                </div>
                                <div class="form-check  col-6">
                                    <input class="form-check-input" type="radio" [(ngModel)]="etudiant.sexe" value="Masculin"id="sexe" name="sexe">
                                    <label class="form-check-label">Masculin</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Matricule</label>
                            <input type="text" class="form-control " placeholder="2021x000"[(ngModel)]="etudiant.matricule" id="matricule" name="matricule">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Addresse
                                Institutionnelle</label>
                            <input type="text" class="form-control " placeholder="prenom.nom@institutsaintjean.org" [(ngModel)]="etudiant.email" id="email" name="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Filiere</label>
                            <select class="form-control "[(ngModel)]="etudiant.filiere" name="filiere">
                                <option disabled selected>Sélectionnez</option>
                                <option value="Ingenieur Generaliste">Ingenieur Generaliste</option>
                                <option value="ISI">ISI</option>
                                <option value="SRT">SRT</option>
                                <option value="Management">Management</option>
                                <option value="Genie Civil">Genie Civil</option>
                                <option value="Genie Electrique">Genie Electrique</option>
                                <option value="Genie Environnement">Genie Environnement</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Niveau*</label>
                            <select class="form-control "[(ngModel)]="etudiant.niveau" name="niveau">
                                <option disabled selected>Sélectionnez une option...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <label>Numero de telephone</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/phone.svg"
                                            alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxxxxx" [(ngModel)]="etudiant.numeroDeTelephone"id="numeroDeTelephone" name="numeroDeTelephone">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Numero whatsapp</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/phone.svg"
                                            alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxxxxx" [(ngModel)]="etudiant.numeroWhatsapp" id="numeroWhatsapp" name="numeroWhatsapp">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="droite">
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Contact d'urgence*</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Nom</label>
                            <input type="text" class="form-control " [(ngModel)]="etudiant.nomContactUrgence" id="nomContactUrgence" name="nomContactUrgence">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Relation</label>
                            <select class="form-control placeH"[(ngModel)]="etudiant.relationContactUrgence" name="relationContactUrgence">
                                <option disabled selected>Sélectionnez</option>
                                <option value="Parent">Parent</option>
                                <option value="Tuteur(-trice)">Tuteur(-trice)</option>
                                <option value="Proche">Proche</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-group col-6">
                            <label>Numero de telephone</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/phone.svg"
                                            alt="phone"></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxexxxx" [(ngModel)]="etudiant.numeroDeTelephoneUrgence"id="numeroDeTelephoneUrgence" name="numeroDeTelephoneUrgence">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Donnees vitales</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label class="">Taille (m)</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/taille.svg"
                                            alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" [(ngModel)]="etudiant.taille" id="taille" name="taille">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Poids (kg)</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/poids.svg"
                                            alt=""></span>
                                </div>
                                <input type="text" class="form-control fc"[(ngModel)]="etudiant.poids" id="poids" name="poids">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="">Groupe Sanguin</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/sang.svg"
                                            alt=""></span>
                                </div>
                                <select class="form-control fc text-center"[(ngModel)]="etudiant.groupeSanguin" name="groupeSanguin">
                                    <option disabled selected> </option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-9 " [class.show]="isDropdownOpen">
                            
                            <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2"
                                id="dropdownManual">
                                Antecedants medicaux
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
                                <div *ngFor="let antecedants of antecedentItems">
                                    <label class="dropdown-item">
                                        <input type="checkbox" [(ngModel)]="etudiant.antecedantMedicaux" name="antecedantMedicaux"
                                            (change)="toggleItemSelection(antecedants)">
                                        {{ antecedants.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class=" ">Autres</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="../../../assets/img/autres.svg"
                                            alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="Identifiant" name="name"id="" name="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button  routerLink="../" class="btn btn-danger bgauche">
                <img src="../../../assets/img/annuler.svg" alt="">
                <a>Annuler</a>
            </button>
            <button class="btn btn-success bdroite" type="submit">
                <img src="../../../assets/img/save.svg" alt="">
                Enregistrer
            </button>
        </form>
    </div>
</body>

</html>