@mixin dFlex($height) {
    height: $height;
    display: flex;
    align-items: center;
}

* {
    text-decoration: none;
    list-style: none;
}

$borderradius : 7px 0 0 7px;

.container-fluid {
    background-color: #FDD300;
    position: fixed;
    left: 0;
    top: 0;
    width: 15rem;
    height: 100vh;
    padding: 0;

    .sidenav {
        position: relative;
        width: 15rem;
        height: 100vh;
        background-color: #107EC2;
        justify-content: center;

        .logo-container {
            height: 6rem;
            width: auto;
            margin-bottom: 1.6rem;

            img {
                height: 80%;
                width: auto;
            }
        }
    }
}

.sidenav-nav-link {
    @include dFlex(2.2rem);
    padding-left: 1.8rem;
    margin-bottom: 5px;
    font-size: 11px;
    border-radius: $borderradius;
    display: flex;
    align-items: center;
    background-color: #107EC2;
    color: white;
    border-left: 5px solid rgba(255, 255, 255, 0);
}

.sidenav-nav-link:hover {
    transition: all .3s ease;
    border-left: 5px solid rgb(255, 255, 255, 1);
}

.sidenav-nav-link>svg,
.sidenav-nav-link i {
    height: .8rem;
    font-size: .8rem;
    width: auto;
    margin-right: 1.15rem;
}


.active rect,
.active path {
    fill: #107EC2;
}

.exit-button {
    bottom: 3.5rem;
    width: 100%;
    position: absolute;

    .exit {
        width: 75%;
        color: white;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
    }

    .exit img {
        height: .8rem;
        margin-right: .7rem;
    }
}

.active {
    background-color: white;
    color: #107EC2;
}

.headerx {
    z-index: 3;
}

.btn {
    font-size: 12px;
    border-radius: 10px;
    // margin-left: calc(1rem/1.5);
    // margin-bottom: calc(1rem/1.7);
}