/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

:root{
  --black: rgb(0, 0, 0);
  --padding: 1rem .875rem;
  --backGround: white;
  --main-clr: #007759;
  --main-light-hover: #007759bb;
  --main-light: #8edd9a;
  --text-color: #ccc;
  --transition: all ease-in-out .3s;
  --box-shadow: 3px 3px 16px 0px #0000000d;



  --clr-background: #f6f6f9;
  --clr-background-opacity: #f6f6f998;
  --dark-variant: #677483;
  --light: rgba(132,139,200, .18);
  --clr-dark: #363949;
  --white: #fff;
}

*{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
}

body {
  box-sizing: border-box;
  font-size: .9rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--clr-background);
}

::selection {
  color: var(--clr-background);
  background: var(--main-clr);
}
