<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="d-flex align-items-end">
        <h2 class="text-primary">Consulter un patient</h2>
        <hr class="flex-grow-1 text-primary">
    </div>
    <div>
        <form action="">
            <div class="form-container">
                <div class="gauche">
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Civilite</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Nom</label>
                            <input [disabled]="true" type="text" [value]="etudiant.taille" [(ngModel)]="etudiant.nom" class="form-control "
                                id="nom" name="nom">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>Prenom</label>
                            <input [disabled]="true" type="text" [(ngModel)]="etudiant.prenom" class="form-control"
                                id="prenom" name="prenom">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label class="">Heure d'arrivee</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/start.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" [(ngModel)]="etudiant.taille" id="taille"
                                    name="taille">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Heure de sortie</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/end.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" [(ngModel)]="etudiant.poids" id="poids"
                                    name="poids">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Civilite</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label class="">Temperature (C)</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/temperature.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" [(ngModel)]="etudiant.taille" id="taille"
                                    name="taille">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Poids (kg)</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/poids.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" [(ngModel)]="etudiant.poids" id="poids"
                                    name="poids">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="">Tension</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/tension.svg" alt=""></span>
                                </div>
                                <select class="form-control fc text-center" [(ngModel)]="etudiant.groupeSanguin"
                                    name="groupeSanguin">
                                    <option disabled selected> </option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span><label>Antecedants Medicaux : </label></span>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-9 " [class.show]="isDropdownOpen">
                            <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2 "
                                id="dropdownManual">
                                Symptomes
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
                                <div *ngFor="let antecedants of antecedentItems">
                                    <label class="dropdown-item">
                                        <input type="checkbox" [(ngModel)]="etudiant.antecedantMedicaux"
                                            name="antecedantMedicaux" (change)="toggleItemSelection(antecedants)">
                                        {{ antecedants.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="droite">
                    <div class="row mb-3">
                        <div class="form-group col-md-9 " [class.show]="isDropdownOpen">

                            <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2 "
                                id="dropdownManual">
                                Symptomes
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
                                <div *ngFor="let antecedants of antecedentItems">
                                    <label class="dropdown-item">
                                        <input type="checkbox" [(ngModel)]="etudiant.antecedantMedicaux"
                                            name="antecedantMedicaux" (change)="toggleItemSelection(antecedants)">
                                        {{ antecedants.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Prise en charge</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-md-9 " [class.show]="isDropdownOpen">

                            <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2 "
                                id="dropdownManual">
                                Symptomes
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
                                <div *ngFor="let antecedants of antecedentItems">
                                    <label class="dropdown-item">
                                        <input type="checkbox" [(ngModel)]="etudiant.antecedantMedicaux"
                                            name="antecedantMedicaux" (change)="toggleItemSelection(antecedants)">
                                        {{ antecedants.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-9 " [class.show]="isDropdownOpen">

                            <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2 "
                                id="dropdownManual">
                                Symptomes
                            </button>
                            <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
                                <div *ngFor="let antecedants of antecedentItems">
                                    <label class="dropdown-item">
                                        <input type="checkbox" [(ngModel)]="etudiant.antecedantMedicaux"
                                            name="antecedantMedicaux" (change)="toggleItemSelection(antecedants)">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row col bot bg-warning">
                        <div class="form-group">
                            <label class=" ">Autres</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/autres.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="Identifiant" name="name" id=""
                                    name="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button routerLink="../" class="btn btn-danger bgauche">
                <img src="./assets/img/annuler.svg" alt="">
                <a>Annuler</a>
            </button>
            <button class="btn btn-success bdroite" type="submit">
                <img src="./assets/img/save.svg" alt="">
                Enregistrer
            </button>
        </form>
    </div>
</body>

</html>