<div class="container">
  <div class="contenu">
    <p class="bvn">Nous sommes heureux de vous revoir ! </p>

    <p class="invent_user">Inventaires: </p>


    <div class="student_inter">
      <div class="bloc_user">
        <div class="icone_user">
          <i class="fi fi-br-users-alt"></i>
        </div>
        <div class="bilan_user">
          <div class="chiffre">50</div>
          <div class="libelle">Etudiants</div>
        </div>
      </div>

      <div class="bloc_intervention">
        <div class="icone_inter">
          <i class="fi fi-br-sensor-alert"></i>
        </div>
        <div class="bilan_inter">
          <div class="chiffre">03</div>
          <div class="libelle">Interventions</div>
        </div>
      </div>

      <div class="bloc_personel">
        <div class="icone_person">
          <i class="fi fi-br-people-carry-box"></i>
        </div>
        <div class="bilan_person">
          <div class="chiffre">05</div>
          <div class="libelle">Personnels</div>
        </div>
      </div>
    </div>
    <div class="other_content">
      <div class="btn_chat">
        <i class="fi fi-br-comment-dots"></i>
      </div>
    </div>

  </div>



</div>
