<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="bodys">

        <div class="d-flex align-items-end">
            <h2 class="text-primary">Ajouter un patient</h2>
            <hr class="flex-grow-1 text-primary">
        </div>
        <div>
            <form action="" (ngSubmit)="etudiantform()" [formGroup]="creerEtudiant">
                <div class="form-container">
                    <div class="gauche">
                        <div class="d-flex align-items-end mb-2">
                            <h5 class="text-primary">Informations personnelles*</h5>
                            <hr class="flex-grow-1 text-primary">
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label>Nom</label>
                                <input type="text" formControlName="nom" class="form-control " id="nom"
                                    [ngClass]="{'dirty': creerEtudiant.controls['nom'].touched && creerEtudiant.controls['nom'].errors?.['required']}">
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['nom'].touched && creerEtudiant.controls['nom'].errors?.['required']">
                                        Entrez
                                        le Nom</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label>Prenom</label>
                                <input type="text" formControlName="prenom" class="form-control" id="prenom">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <!-- <div class="form-group col-md-6">
                            <label>Date de naissance*</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dateNaissance" ngbDatepicker
                                    #d="ngbDatepicker" formControlName="dateDeNaissance" id="dateDeNaissance"
                                    name="dateDeNaissance">
                                <button class="btn btn-calendar" (click)="d.toggle()" type="button">
                                    <img src="./assets/img/calendrier.svg" alt="">
                                </button>
                            </div>
                        </div> -->

                            <div class="form-group col-md-6">
                                <label>Date de naissance*</label>
                                <div class="input-group">
                                    <p-calendar formControlName="dateDeNaissance" [showIcon]="true"
                                        [maxDate]="maxDate"></p-calendar>
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['dateDeNaissance'].touched && creerEtudiant.controls['dateDeNaissance'].errors?.['required']">
                                        Entrez
                                        la date de naissance</span>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Sexe</label>
                                <div class="row m-0">
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" formControlName="sexe"
                                            value="Feminin" id="sexe">
                                        <label class="form-check-label">Feminin</label>
                                    </div>
                                    <div class="form-check  col-6">
                                        <input class="form-check-input" type="radio" formControlName="sexe"
                                            value="Masculin" id="sexe">
                                        <label class="form-check-label">Masculin</label>
                                    </div>
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['nom'].touched && creerEtudiant.controls['nom'].errors?.['required']">
                                        Entrez
                                        le Nom</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label>Matricule</label>
                                <input type="text" class="form-control " placeholder="2021x000"
                                    formControlName="matricule" id="matricule"
                                    [ngClass]="{'dirty': creerEtudiant.controls['matricule'].touched && creerEtudiant.controls['matricule'].errors?.['required']}">
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['matricule'].touched && creerEtudiant.controls['matricule'].errors?.['required']">
                                        Entrez
                                        le matricule</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Addresse
                                    Institutionnelle</label>
                                <input type="text" class="form-control " placeholder="prenom.nom@institutsaintjean.org"
                                    formControlName="emailEtudiant" id="email"
                                    [ngClass]="{'dirty': creerEtudiant.controls['emailEtudiant'].touched && creerEtudiant.controls['emailEtudiant'].errors?.['required'] || creerEtudiant.controls['emailEtudiant'].errors?.['email']}">
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['emailEtudiant'].touched && creerEtudiant.controls['emailEtudiant'].errors?.['required']">
                                        Entrez
                                        l'Addresse institutionnelle</span>
                                    <span *ngIf="creerEtudiant.controls['emailEtudiant'].errors?.['email']">
                                        Addresse mail invalide </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label>Filiere</label>
                                <select class="form-control " formControlName="filiere"
                                    [ngClass]="{'dirty': creerEtudiant.controls['filiere'].touched && creerEtudiant.controls['filiere'].errors?.['required']}">
                                    <option [selected]="true" disabled>Sélectionnez une filiere...</option>
                                    <option value="Ingenieur Generaliste">Ingenieur Generaliste</option>
                                    <option value="ISI">ISI</option>
                                    <option value="SRT">SRT</option>
                                    <option value="Management">Management</option>
                                    <option value="Genie Civil">Genie Civil</option>
                                    <option value="Genie Electrique">Genie Electrique</option>
                                    <option value="Genie Environnement">Genie Environnement</option>
                                </select>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['filiere'].touched && creerEtudiant.controls['filiere'].errors?.['required']">
                                        Entrez
                                        la filiere</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Niveau*</label>
                                <select class="form-control text-center" formControlName="niveau"
                                    [ngClass]="{'dirty': creerEtudiant.controls['niveau'].touched && creerEtudiant.controls['niveau'].errors?.['required']}">
                                    <option disabled [selected]="true">Sélectionnez un niveau...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['niveau'].touched && creerEtudiant.controls['niveau'].errors?.['required']">
                                        Entrez
                                        le niveau</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label>Numero de telephone</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/phone.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="text" class="form-control fc" placeholder="6xxxxxxxx"
                                        formControlName="numeroDeTelephone" id="numeroDeTelephone"
                                        [ngClass]="{'dirty': creerEtudiant.controls['numeroDeTelephone'].touched && creerEtudiant.controls['numeroDeTelephone'].errors?.['required']}">
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['numeroDeTelephone'].touched && creerEtudiant.controls['numeroDeTelephone'].errors?.['required']">
                                        Entrez
                                        le numero de telephone</span>
                                    <span *ngIf="creerEtudiant.controls['numeroDeTelephone'].errors?.['minlength']  ">
                                        Le numero doit etre superieur a {{creerEtudiant.value.numeroDeTelephone.length}}
                                        chiffres</span>
                                    <span *ngIf=" creerEtudiant.controls['numeroDeTelephone'].errors?.['maxlength'] ">
                                        Le numero doit etre inferieur a {{creerEtudiant.value.numeroDeTelephone.length}}
                                        chiffres</span>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label>Numero whatsapp</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/phone.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="text" class="form-control fc" placeholder="6xxxxxxxx"
                                        formControlName="numeroWhatsapp" id="numeroWhatsapp">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="droite">
                        <div class="d-flex align-items-end mb-2">
                            <h5 class="text-primary">Contact d'urgence*</h5>
                            <hr class="flex-grow-1 text-primary">
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label>Nom</label>
                                <input type="text" class="form-control " formControlName="nomContactUrgence"
                                    id="nomContactUrgence"
                                    [ngClass]="{'dirty': creerEtudiant.controls['nomContactUrgence'].touched && creerEtudiant.controls['nomContactUrgence'].errors?.['required']}">
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['nomContactUrgence'].touched && creerEtudiant.controls['nomContactUrgence'].errors?.['required']">
                                        Entrez
                                        le nom</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Relation</label>
                                <select class="form-control placeH" formControlName="relationContactUrgence"
                                    [ngClass]="{'dirty': creerEtudiant.controls['relationContactUrgence'].touched && creerEtudiant.controls['relationContactUrgence'].errors?.['required']}">
                                    <option disabled [selected]="true">Sélectionnez une relation...</option>
                                    <option value="Parent">Parent</option>
                                    <option value="Tuteur(-trice)">Tuteur(-trice)</option>
                                    <option value="Proche">Proche</option>
                                </select>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['relationContactUrgence'].touched && creerEtudiant.controls['relationContactUrgence'].errors?.['required']">
                                        Selectionnez
                                        la relation</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form-group col-6">
                                <label>Numero de telephone</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/phone.svg"
                                                alt="phone"></span>
                                    </div>
                                    <input type="text" class="form-control fc" placeholder="6xxxxexxxx"
                                        formControlName="numeroDeTelephoneUrgence" id="numeroDeTelephoneUrgence"
                                        [ngClass]="{'dirty': creerEtudiant.controls['numeroDeTelephoneUrgence'].touched && creerEtudiant.controls['numeroDeTelephoneUrgence'].errors?.['required']}">
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['numeroDeTelephoneUrgence'].touched && creerEtudiant.controls['numeroDeTelephoneUrgence'].errors?.['required']">
                                        Entrez
                                        le numero de telephone</span>
                                    <span
                                        *ngIf="creerEtudiant.controls['numeroDeTelephoneUrgence'].errors?.['minlength']  ">
                                        Le numero doit etre superieur a
                                        {{creerEtudiant.value.numeroDeTelephoneUrgence.length}}
                                        chiffres</span>
                                    <span
                                        *ngIf=" creerEtudiant.controls['numeroDeTelephoneUrgence'].errors?.['maxlength'] ">
                                        Le numero doit etre inferieur a
                                        {{creerEtudiant.value.numeroDeTelephoneUrgence.length}}
                                        chiffres</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>eMail</label>
                                <input type="text" class="form-control " placeholder="xx@gmail.com"
                                    formControlName="emailContactUrgence" id="email"
                                    [ngClass]="{'dirty': creerEtudiant.controls['emailContactUrgence'].touched && creerEtudiant.controls['emailContactUrgence'].errors?.['required'] || creerEtudiant.controls['emailContactUrgence'].errors?.['email']}">
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['emailContactUrgence'].touched && creerEtudiant.controls['emailContactUrgence'].errors?.['required']">
                                        Entrez
                                        l'addresse mail</span>
                                    <span
                                        *ngIf="creerEtudiant.controls['emailContactUrgence'].touched && creerEtudiant.controls['emailContactUrgence'].errors?.['email']">
                                        Addresse mail invalide </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end mb-2">
                            <h5 class="text-primary">Donnees vitales</h5>
                            <hr class="flex-grow-1 text-primary">
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-4">
                                <label class="">Taille (m)</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/taille.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="tel" class="form-control text-center fc" formControlName="taille"
                                        id="taille"
                                        [ngClass]="{'dirty': creerEtudiant.controls['taille'].touched && creerEtudiant.controls['taille'].errors?.['required']}">
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['taille'].touched && creerEtudiant.controls['taille'].errors?.['required']">
                                        Entrez
                                        la taille</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Poids (kg)</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/poids.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="number" class="form-control text-center fc" formControlName="poids"
                                        id="poids"
                                        [ngClass]="{'dirty': creerEtudiant.controls['poids'].touched && creerEtudiant.controls['poids'].errors?.['required'] }">
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['poids'].touched && creerEtudiant.controls['poids'].errors?.['required']">
                                        Entrez
                                        le poids</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="">Groupe Sanguin</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/sang.svg"
                                                alt=""></span>
                                    </div>
                                    <select class="form-control fc text-center" formControlName="groupeSanguin"
                                        [ngClass]="{'dirty': creerEtudiant.controls['groupeSanguin'].touched && creerEtudiant.controls['groupeSanguin'].errors?.['required'] }">
                                        <option disabled [selected]="true">Sélectionnez groupe sanguin...</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                                <div class="merreur">
                                    <span
                                        *ngIf="creerEtudiant.controls['groupeSanguin'].touched && creerEtudiant.controls['groupeSanguin'].errors?.['required']">
                                        Selectionnez
                                        le groupe Sanguin</span>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <!-- <div *ngFor="let data of antecedentItems; let i = index">
                                <input type="checkbox" [value]="data.idAntecedantMedicaux"
                                    (change)="onCheckboxChange($event,'antecedantMedicauxList')" />
                                {{data.nomAntecedantMedicaux}}
                            </div> -->
                                <label>Antecedants Medicaux</label>
                                <div class="input-group rect">
                                    <p-multiSelect [options]="antecedentItems" formControlName="antecedantMedicauxList"
                                        optionLabel="nomAntecedantMedicaux" optionValue="idAntecedantMedicaux"
                                        placeholder="Cherchez un antecedant"></p-multiSelect>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label class=" ">Autres antecedants</label>
                                <div class="input-group rect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text igt"><img src="./assets/img/autres.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="text" class="form-control fc"
                                        formControlName="nouveauxAntecedantsMedicaux"
                                        placeholder="Ajoutez un antecedant qui n'existe pas" id="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button routerLink="../" class="btn btn-danger bgauche">
                    <img src="./assets/img/annuler.svg" alt="">
                    <a>Annuler</a>
                </button>
                <button class="btn btn-success bdroite" type="submit" [disabled]="!creerEtudiant.valid">
                    <img src="./assets/img/save.svg" alt="">
                    Enregistrer
                </button>
            </form>
        </div>
        <pre>{{ creerEtudiant.value | json }} </pre>



    </div>
</body>

</html>