<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-7  aCenterl">
                <img class="logo" src="../../../assets/img/Saint Jean ingenieur.png" alt="">
            </div>
            <div class=" col aCenter">
                <form >
                    <div class="form-group">
                        <div class="input-group rect">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="../../../assets/img/search-button.svg"
                                        alt=""></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Rechercher ...">
                        </div>
                    </div>
                </form>
            </div>
            <div class=" col aCenterr">
                <span>{{login}}</span>
                <img class="circle" src="../../../assets/img/worker.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>