<div class="sidenav">
  <div class="inner-sidebar">
    <div class="logo">
      <img src="../../../../../assets/images/usj.png" alt="">
    </div>
    <hr>
    <h2 class="welcome">
      <span style="color: #fff">bienv</span>
      <span style="color: #5087bb;">enue</span>
    </h2>
    <hr>
    <ul>
      <li>
        <a routerLink="/admin/accueil" activated>
          <span><i class="fi fi-br-home"></i></span>
          <span>Accueil</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/interventions">
          <span><i class="fi fi-br-sensor-alert"></i></span>
          <span class="d-flex align-items-baseline ">Interventions <small class="badge badge-info small1">0</small></span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/statistiques">
          <span><i class="fi fi-br-stats"></i></span>
          <span class="d-flex align-items-baseline ">Statistiques <small class="badge badge-danger small2">0</small></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-bottom">
    <div class="logout">
      <ul>
        <li>
          <a routerLink="/auth/etudiantLogin" class="">
            <span><i class="fi fi-br-exit"></i></span>
            <span>Déconnexion</span>
          </a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="footer">
      <p>Copyright 2023</p>
    </div>
  </div>
</div>
