    <!-- <app-authentification></app-authentification> -->
    <!-- <router-outlet></router-outlet> -->

    <app-navigation></app-navigation>
    <app-head></app-head>
    <app-body></app-body>

    <!-- <form class="flex align-items-center gap-1" [formGroup]="formGroups">
        <p-checkbox formControlName="city" value="1" inputId="ny"></p-checkbox>
        <label for="ny">New York</label>
        <p-checkbox formControlName="city" value="2" inputId="nr"></p-checkbox>
        <label for="nr">New York</label>
        <p-checkbox formControlName="city" value="3" inputId="nx"></p-checkbox>
        <label for="nx">New York</label>
        
    </form>
    <h1 (click)="aff()">clique</h1>
    <pre>{{formGroups.value | json}}</pre> -->