<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="bodys">
        
    <div class="d-flex align-items-end">
        <h2 class="text-primary">Modifier un patient</h2>
        <hr class="flex-grow-1 text-primary">
    </div>
    <div>
        <form (ngSubmit)="modifierEtudiant()" [formGroup]="modifierEtudiantForm">
            <div class="form-container">
                <div class="gauche">
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Informations personnelles</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Nom*</label>
                            <input type="text" class="form-control" formControlName="nom" [value]="etudiant?.nom">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>Prenom</label>
                            <input type="text" class="form-control" formControlName="prenom" [value]="etudiant?.prenom">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Date de naissance*</label>
                            <div class="input-group">
                                <p-calendar formControlName="dateDeNaissance" [showIcon]="true"
                                    [maxDate]="maxDate"></p-calendar>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Sexe*</label>
                            <div class="row m-0">
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" [value]="'Feminin'"
                                        formControlName="sexe">
                                    <label class="form-check-label">Feminin</label>
                                </div>
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" [value]="'Masculin'"
                                        formControlName="sexe">
                                    <label class="form-check-label">Masculin</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Matricule*</label>
                            <input type="text" class="form-control " placeholder="2021x000" formControlName="matricule">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Addresse
                                Institutionnelle*</label>
                            <input type="text" class="form-control " placeholder="prenom.nom@institutsaintjean.org"
                                formControlName="emailEtudiant">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Filiere*</label>
                            <select class="form-control " formControlName="filiere">
                                <option [ngValue]="'Ingenieur Generaliste'">Ingenieur Generaliste</option>
                                <option [ngValue]="'ISI'">ISI</option>
                                <option [ngValue]="'SRT'">SRT</option>
                                <option [ngValue]="'Management'">Management</option>
                                <option [ngValue]="'Genie Civil'">Genie Civil</option>
                                <option [ngValue]="'Genie Electrique'">Genie Electrique</option>
                                <option [ngValue]="'Genie Environnement'">Genie Environnement</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Niveau*</label>
                            <select class="form-control text-center" formControlName="niveau">
                                <option [ngValue]="1">1</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="5">5</option>
                            </select>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <label>Numero de telephone*</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/phone.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxxxxx"
                                    formControlName="numeroDeTelephone">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Numero whatsapp</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/phone.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxxxxx"
                                    formControlName="numeroWhatsapp">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="droite">
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Contact d'urgence</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label>Nom Complet*</label>
                            <input type="text" class="form-control " formControlName="nomContactUrgence">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Relation</label>
                            <select class="form-control placeH" formControlName="relationContactUrgence">
                                <option [ngValue]="'Parent'">Parent</option>
                                <option [ngValue]="'Tuteur(-trice)'">Tuteur(-trice)</option>
                                <option [ngValue]="'Proche'">Proche</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-group col-6">
                            <label>Numero de telephone*</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/phone.svg"
                                            alt="phone"></span>
                                </div>
                                <input type="text" class="form-control fc" placeholder="6xxxxexxxx"
                                    formControlName="numeroDeTelephoneUrgence">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" class="form-control " placeholder="xx@gmail.com"
                                formControlName="emailContactUrgence" id="email">
                        </div>
                    </div>
                    <div class="d-flex align-items-end mb-2">
                        <h5 class="text-primary">Donnees vitales</h5>
                        <hr class="flex-grow-1 text-primary">
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label class="">Taille (m)*</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/taille.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc text-center" formControlName="taille">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Poids (kg)*</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/poids.svg" alt=""></span>
                                </div>
                                <input type="text" class="form-control fc text-center" formControlName="poids">
                            </div>
                        </div>
                        <div class="form-group col-md-4 ">
                            <label class="">Groupe Sanguin*</label>
                            <div class="input-group rect">
                                <div class="input-group-prepend">
                                    <span class="input-group-text igt"><img src="./assets/img/sang.svg" alt=""></span>
                                </div>
                                <select class="form-control fc text-center" formControlName="groupeSanguin">
                                    <option [ngValue]="'A+'">A+</option>
                                    <option [ngValue]="'A-'">A-</option>
                                    <option [ngValue]="'B+'">B+</option>
                                    <option [ngValue]="'B-'">B-</option>
                                    <option [ngValue]="'AB+'">AB+</option>
                                    <option [ngValue]="'AB-'">AB-</option>
                                    <option [ngValue]="'O+'">O+</option>
                                    <option [ngValue]="'O-'">O-</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Antecedants Medicaux</label>
                            <div class="input-group rect">
                                <p-multiSelect [options]="antecedentItems" formControlName="antecedantMedicauxList"
                                    optionLabel="nomAntecedantMedicaux"
                                    optionValue="idAntecedantMedicaux"
                                    placeholder="Cherchez un antecedant"></p-multiSelect>

                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <button routerLink="../.." class="btn btn-danger bgauche">
                <img src="./assets/img/annuler.svg" alt="">
                Annuler
            </button>
            <button class="btn btn-success bdroite" type="submit">
                <img src="./assets/img/save.svg" alt="">
                Enregistrer
            </button>
        </form>

    </div>
    <!-- <pre>{{modifierEtudiantForm.value | json }}</pre> -->

    </div>
</body>

</html>