<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="d-flex align-items-end">
        <h2 class="text-primary">Dashboard</h2>
        <hr class="flex-grow-1 text-primary">
    </div>
    <div class="forms-container ">
            <div class="card " *ngFor="let information of informations ; let i = index">
                <img [src]="information.image" alt="">
                <span>
                    <h3>{{information.label}}</h3>
                    <h1> {{ valeur[i] ? valeur[i] : '0' }}</h1>
                </span>
        </div>
    </div>
    <div class="forms-container forms-container1">
            <div class="graph ">
                <div class="head">
                    <h4>Performance</h4>
                </div>
                <div class="body graph-body">
                    <p-chart type="line" [data]="data" [options]="options" [responsive]=true height="50vh" ></p-chart>
                </div>
            </div>
            <div class="rappel ">
                <div class="facture ">
                    <div class="head">
                        <h4>Factures non payes</h4>
                    </div>
                    <div class="body">
                        <table class="table " *ngIf="facturesNonReglee != null">
                            <thead>
                                <th scope="col">Nom</th>
                                <th scope="col">Classe</th>
                                <th scope="col">Date</th>
                                <th scope="col">Montant</th>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let nonPaye of facturesNonReglee"> 
                                    <th scope="row"><span style="color: rgba(0, 0, 0, 1);">{{nonPaye[1]}} {{nonPaye[2]}}</span></th>
                                    <td>{{nonPaye[0].etudiant}} {{nonPaye[0].etudiant}}</td>
                                    <td> <i>{{nonPaye[0].dateCreationFacture}}</i> </td>
                                    <td>{{nonPaye[0].montantFacute}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="rVous ">
                    <div class="head">
                        <h4>Rendez-vous</h4>
                    </div>
                    <div class="body">
                        <table class="table" *ngIf="rVous != null">
                            <thead>
                                <th scope="col">Nom</th>
                                <th scope="col">Motif</th>
                                <th scope="col">Date</th>
                            </thead>
                            <tbody >
                                <!-- *ngFor="let etudiant for etudiants" -->
                                <tr *ngFor="let rvous of rVous"> 
                                    <th scope="row"><span style="color: rgba(0, 0, 0, 1);">{{rvous.nom}}</span></th>
                                    <td> <i>{{rvous.motif}}</i> </td>
                                    <td>{{rvous.date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>