
h1 {
    margin: 0;
    font-size: 1.8rem;
}

h3 {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.525);

}


.forms-container {
    min-height: fit-content;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;

    .card {
        width: 26%;
        height: 6rem;
        margin-right: .7rem;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        border: none;
        img{
            height: 100%;
        }

    }


}

.card>img {
    margin-right: 1.5rem;
}



.forms-container1 {
    justify-content: space-between;
    margin-top: 0rem;

    .graph {
        width: 55%;
        max-height: 60vh;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.189);

    }

    .rappel {
        width: 44%;

        .facture {
            // background-color: rgb(16, 126, 194);
            width: 100%;
            min-height: 8rem;
            margin-bottom: .5rem;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.189);

        }

        .rVous {
            width: 100%;
            min-height: 8rem;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.189);

        }
    }

}

.head {
    height: 2.5rem;
    background-color: rgba(223, 236, 246, 0.42);
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    border-radius: 10px 10px 0 0;
    color: #107EC2;
    h4{
    font-size: 18px;
    }
}

.body {
    padding :1rem 1.5rem;
    .table {
        text-align: left;
        color: rgba(0, 0, 0, 0.75);

    }
}

thead {
    font-size: .6rem;
    color: rgba(0, 0, 0, 0.35);
}

tbody th,
tbody td {
    padding-left: 0;
    height: 3rem;
    vertical-align: middle;
}

tr:last-child td {
    border-bottom-width: 0px;
}

h4 {
    margin: 0;
}


tr td:first-child{
    width: 40%;
}
tr td:nth-child(2n){
    width: 10%;
}
tr td:nth-child(3){
    width: 25%;
}
tr:last-child th{
    border: none;
}
