<p>liste-facture works!</p>

<!-- <div ngbDropdown>
    <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>
        Sélectionner des éléments
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let item of dropdownItems">
            <label class="dropdown-item">
                <input type="checkbox" [checked]="isItemSelected(item)" (change)="toggleItemSelection(item)">
                {{ item.name }}
            </label>
        </div>
    </div>
</div> -->
<div class="d-inline-block" [class.show]="isDropdownOpen">
    <button type="button" (click)="toggleDropdown()" class="btn btn-outline-primary me-2" id="dropdownManual">
        Toggle dropdown
    </button>
    <div class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownManual">
        <div *ngFor="let item of dropdownItems">
            <label class="dropdown-item">
                <input type="checkbox" [(ngModel)]="item.selected" (change)="toggleItemSelection(item)">
                {{ item.name }}
            </label>
        </div>
    </div>
</div>


<!-- 
<button type="button" class="btn btn-outline-success me-2" (click)="$event.stopPropagation(); myDrop.open();">
    Open from outside
</button> -->
<!--<button type="button" class="btn btn-outline-danger me-2" (click)="$event.stopPropagation(); myDrop.close();">
    Close from outside
</button> -->