<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-7  aCenterl">
                <img class="logo" src="./assets/img/Saint Jean ingenieur.png" alt="">
            </div>
            <div class=" col-5 aCenterr" (click)="account()">
                <span>hey, {{login}}</span>
                <div class="cont">
                    <div class="overlay"><i class="pi pi-spin pi-cog"></i></div>
                    <img class="circle" src="./assets/img/worker.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>